USE [master]
GO
/****** Object:  Database [ECommerce]    Script Date: 8/19/2021 11:08:15 PM ******/
CREATE DATABASE [ECommerce]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerce', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ECommerce.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECommerce_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ECommerce_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerce].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerce]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/19/2021 11:08:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [image], [price]) VALUES (9, N'PC', N'54397_pc_gaming_shark_026.jpg', 300000)
INSERT [dbo].[Product] ([id], [name], [image], [price]) VALUES (10, N'Iphone_add', N'iphone-12-pro-max_1__7.jpg', 3000000)
INSERT [dbo].[Product] ([id], [name], [image], [price]) VALUES (4, N'PC', N'46231_pc_gaming_falcon_054.jpg', 2500000)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
